services:
  wiki-mapper:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wiki-mapper
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./scripts:/app/scripts
      - ./src:/app/src
      - ./checkpoints:/app/checkpoints
    environment:
      - PYSPARK_PYTHON=/usr/local/bin/python
      - PYSPARK_DRIVER_PYTHON=/usr/local/bin/python
      - JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
    mem_limit: 8g
    cpus: "8"
    command: ["./scripts/run_spark_pipeline.sh"]
